<!doctype html>
<html>
<head>
    <title>RDC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		<script src="{{ url_for('mobile.static', filename='js/jquery.flot.js') }}"></script>
		<script src="{{ url_for('mobile.static', filename='js/jquery.flot.threshold.multiple.js') }}"></script>
		<script src="{{ url_for('mobile.static', filename='js/temperature.js') }}"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel=stylesheet type=text/css href="{{ url_for('mobile.static', filename='mobile.css') }}?20120220">
</head>

<body>
  <div data-role="page" id={{ page_id }}>
{% block header %}
      <div data-role="header">
        <a href={{ url_for('mobile.configuration') }} data-transition="flip" data-role="button" data-icon="gear" data-iconpos="notext"></a>
        <h1>{{ title }}</h1>
				<a href={{ request.script_root + request.path }} id="refresh" data-role="button" data-icon="refresh" data-iconpos="notext"></a>
      </div><!-- /header -->
{% endblock %}

	<div data-role="content">	
	{% with messages = get_flashed_messages(with_categories=True) %}
	{% if messages %}
	<ul class=flash>
		{% for category, message in messages %}
		<li class=flash-{{ category }}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
  {% block body %}{% endblock %}
	</div><!-- /content -->

</div><!-- /page -->
</body>
</html>
