{% extends "mobile/mobile_layout.html" %}

{% block header %}
      <div data-role="header">
        <a href={{ url_for('mobile.index') }} data-transition="fade" data-role="button" data-icon="back" data-iconpos="notext"></a>
				<h1>Températures: {{ host_name }}</h1>
				<a href={{ request.script_root + request.path }} id="refresh" data-role="button" data-icon="refresh" data-iconpos="notext"></a>
        <div data-role="navbar">
          <ul>
            <li><a href="#" id="hour" class="ui-btn-active">Heure</a></li>
            <li><a href="#" id="day">Jour</a></li>
            <li><a href="#" id="week">Semaine</a></li>
            <li><a href="#" id="month">Mois</a></li>
          </ul>
        </div>
      </div><!-- /header -->

{% endblock %}

{% block body %}
<script>
	period = 'hour';
	host_id = "{{ host_id }}";
	sensor_type = 'TEMPERATURE';
	data_url = "{{ url_for('mobile.get_temperature_data') }}";
</script>
        <div data-role="content">       
            <div id="data-plot"></div>
        </div><!-- /content -->
{% endblock %}
